@font-face {
    font-family: 'POKEMON';
    src: url('../fonts/pokemon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
	color: black;
	font-family: POKEMON;
	letter-spacing: 2px;
}
.col-lg-9{
	grid-area: gifArea;
}
.col-lg-3{
	grid-area: otherArea;
}
.btn{
	margin: 10px;
	width: 125px;
}
.image-div{
	position: relative;
	float: left;
	margin: 10px;
	overflow: auto;
}
.image-div .downloadButton {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 16px;
	text-align: center;
	padding: 5px;
}
.image-hover{
	padding: 0px;
	float: inherit;
	max-width: 240px;
}
.my-favorites{
	border: black;
	border-width: 1px;
	border-style: dotted hidden dotted hidden;
}
#pokemonInput{
	border: black;
	border-width: 1px;
	border-style: solid;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
	#buttonsView { display: none;}
	#buttonsToggle { display: block;}
	.grid-row  {
		display: grid;
	    grid-gap: 1em;
	    grid-template-areas:
	     "gifArea"
	     "otherArea"
     }
	.col-lg-3{
		margin-left:auto;
		margin-right:auto;
		display:block;
	}
	.col-lg-9{
		margin-left:auto;
		margin-right:auto;
		display:block;
	}
	.image-div{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.image-hover{
		max-width: 260px;
	}
	.my-favorites{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.more{
		margin-left: auto;
		margin-right: auto;
		display:block;
	}
	.my-stats{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.form-holder{
		text-align: center;
	}
	.clear-favorites{
		margin: 0 auto;
	}
	.topnav{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		display: flex;
	    flex-wrap: wrap;
	}
	#pokemonForm{
		margin-left: auto;
		margin-right: auto;
	}
	#galleryDiv{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		display: flex;
	    flex-wrap: wrap;
	}	
}
@media screen and (min-width: 769px) {
  	#buttonsView { display: block;}
	#buttonsToggle { display: none;}
}