@font-face {
    font-family: 'POKEMON';
    src: url('../fonts/pokemon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
  color: black;
  font-family: POKEMON;
  letter-spacing: 2px;
}

.btn{
	margin: 10px;
	width: 125px;
}

.imageHover{
	padding: 0px;
	float: inherit;
	max-width: 240px;
}
.my-div{
	position: relative;
	float: left;
	margin: 10px;
	overflow: auto;
}
.my-favorites{
	border: black;
	border-width: 1px;
	border-style: dotted hidden dotted hidden;
}
.col-lg-9{
	grid-area: gifArea;
}
.col-lg-3{
	grid-area: otherArea;
}

@media screen and (min-width: 0px) and (max-width: 768px) {

	#buttons-view { display: none;}
	#buttons-toggle { display: block;}
	.grid-row  {
		display: grid;
	    grid-gap: 1em;
	    grid-template-areas:
	     "gifArea"
	     "otherArea"
     }
	
	.col-lg-3{
		margin-left:auto;
		margin-right:auto;
		display:block;
	}
	.col-lg-9{
		margin-left:auto;
		margin-right:auto;
		display:block;
	}
	.imageHover{
		max-width: 260px;
	}
	#movie-form{
		margin-left: auto;
		margin-right: auto;
	}
	.my-stats{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.form-holder{
		text-align: center;
	}
	.more{
		margin-left: auto;
		margin-right: auto;
		display:block;
	}
	.my-favorites{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.my-div{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	#theDiv{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		display: flex;
	    flex-wrap: wrap;
	}
	.clear-favorites{
		margin: 0 auto;
	}
	.topnav{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		display: flex;
	    flex-wrap: wrap;
	}
	
}
@media screen and (min-width: 769px) {
  	#buttons-view { display: block;}
	#buttons-toggle { display: none;}
}